<header>
  <nav class='tasks-menu'>
    <ul class='tasks-menu__list'>
      <%# ハンバーガーメニュー %>
      <li>
        <%= link_to new_task_path do %>
          <i class='fas fa-bars tasks-menu__list--hamburger'></i>
        <% end %>
      </li>
      <%# ロウアウトボタン %>
      <li>
        <%= link_to new_task_path do %>
          <i class='fas fa-sign-out-alt tasks-menu__list--logout'></i>
        <% end %>
      </li>
      <%# 検索ボタン %>
      <li>
        <%= link_to new_task_path do %>
          <i class='fas fa-search tasks-menu__list--search'></i>
        <% end %>
      </li>
      <%# ラベル作成ボタン %>
      <li>
        <%= link_to new_task_path do %>
          <i class='fas fa-plus tasks-menu__list--create'></i>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
