<div class='side_bar'>
  <ul class='side_bar_list'>
    <li><h1 class='label_title'>TODOリスト</h1></li>
    <li><%= link_to '一覧画面', tasks_path, class: 'side_bar_item' %></li>
    <li><%= link_to 'タスクを作成する', new_task_path, class: 'side_bar_item' %></li>
  </ul>
</div>
