<header class='header'>
  <nav class='header__nav'>
    <ul>
      <li><h2 class='header__nav--title'>TODOリスト</h1></li>
      <li><%= link_to '一覧画面', tasks_path, class: 'header__nav--item font-middle' %></li>
      <li><%= link_to 'タスクを作成する', new_task_path, class: 'header__nav--item font-middle' %></li>
    </ul>
  </nav>
</header>
