<p class='admin-index__title'>ユーザー一覧</p>
<ul class='admin-index__list'>
  <li class='admin-index__label'>
    <p class='admin-index__label--name'>ユーザー名</p>
    <p class='admin-index__label--admin'>ロール</p>
  </li>
  <% @users.each do |user| %>
    <li class='admin-index__item'>
      <p><%= user.name %> (<%= user.tasks.size %>)</p>
      <p class='admin-index__admin'><%= user.admin %></p>
    </li>
  <% end %>
</ul>
