.w-200{
  width: 200px;
}

.w-34{
  width: 32px;
}

.ml-30{
 margin-left: 30px; 
}

.mb-15{
  margin-bottom: 15px;
}

.font-middle{
  font-size: 15px;
  font-weight: bold;
}

.button{
  padding: 7px 14px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;

  &:hover{
    opacity: 0.7;
  }

  &:not(input){
    padding: 10px 15px;
  }
}
