*{
  margin: 0;
}

body{
  background-color: #eee;
}

h1, h2, h3, h4{
  margin-block-start: 0;
  margin-block-end: 0;
}

table{
  border-spacing: 0;
}


input, select{
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

th, td {
  padding: 20px 25px;
  border-bottom: solid 10px #eee;
  border-collapse:  collapse;
  text-align: left;

  &:not(td){
    background-color: #333;
    color: #fff;
  }
}

a{
  text-decoration: none;
}

ul, li{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;

  &:not(ul){
    margin: 20px;
  }
}
