*{
  margin: 0;
}

h1, h2, h3, h4{
  margin-block-start: 0;
  margin-block-end: 0;
}


input, select{
  border: none;
}

a{
  text-decoration: none;
}

ul, li{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

