@import 'variable';

*{
  margin: 0;
  font-family: "MS Pゴシック" ;
}

h1, h2, h3, h4{
  margin-block-start: 0;
  margin-block-end: 0;
}


input, select{
  border: none;
}

a{
  text-decoration: none;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

ul, li{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

input, select, textarea{
  font-size: $base-font-size;
  border: none;
  appearance: none;
  white-space: normal;
  word-break: break-all;
  // 矢印の消去
  &::-ms-expand {
    display: none;
  }

  // カレンダーのアイコンの消去
  &[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
  }
}
