// color
$base-color: #2156CC;
$base-color-middle: #427EFF;
$base-color-light: #AFC8FD;
$base-color-white: #FFFFFF;
$base-color-black: #000000;
$admin-color: #EA3945;

// margin, padding
$space: 55px;


// font-size
$base-font-size: 46px;
