/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
}

body{
  background-color: #eee;
}

h1, h2, h3, h4{
  margin-block-start: 0;
  margin-block-end: 0;
}

table{
  border-spacing: 0;
}


input, select{
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

th, td {
  padding: 20px 25px;
  border-bottom: solid 10px #eee;
  border-collapse:  collapse;
  text-align: left;

  &:not(td){
    background-color: #333;
    color: #fff;
  }
}

a{
  text-decoration: none;
}

ul, li{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;

  &:not(ul){
    margin: 20px;
  }
}

.w-200{
  width: 200px;
}

.w-34{
  width: 32px;
}

.ml-30{
 margin-left: 30px; 
}

.mb-15{
  margin-bottom: 15px;
}

.font-middle{
  font-size: 15px;
  font-weight: bold;
}

.button{
  padding: 7px 14px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;

  &:hover{
    opacity: 0.7;
  }

  &:not(input){
    padding: 10px 15px;
  }
}

.task_flash{
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px calc(60vw - 727px / 2);
  position: absolute;
  width: 727px;
  opacity: 0.6;
}

#task_flash{
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width:0;
    height:0;
    overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width:0;
    height:0;
    visibility:hidden;
  }
}
