// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
}

h1, h2, h3, h4{
  margin-block-start: 0;
  margin-block-end: 0;
}

body{
  background-color: #EEE;
}

ul, li{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

.pagination a:link,
.pagination a:visited,
.pagination a:hover,
.pagination a:active {
  color: #666;
}

li{
  margin: 20px;
}

input, select{
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

th, td {
  padding: 20px 25px;
  border-bottom: solid 10px #EEE;
  border-collapse:  collapse;
  text-align: left;
}

th{
  background-color: #333;
  color: white;
}

a{
  text-decoration: none;
}

// task

.task_body{
  display: flex;
}

//side_bar

.side_bar{
  height: 100vh;
  width: 20vw;
  background-color: #333;
  position: fixed;
}

.label_title{
  padding: 20px;
  color: white;
  border-bottom: solid 1px #AAA;
}

.side_bar_item{
  margin: 20px;
  color: white;
}

// index

.index_body{
  width: 727px;
  margin-left: calc(60vw - 727px / 2);
}

.form{
  display: flex;
}

.task_table{
  margin: 30px 0;
  background-color: white;
  border-radius: 5px;
}

table{
  border-spacing: 0;
}

.task_th_id{
  border-radius: 5px 0 0 0;
}

.task_th_priority{
  border-radius: 0 5px 0 0;
}

.task_th_title, .task_title{
  width: 200px;
  overflow: hidden;
}

.pagination {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  font-size: 12px;
  background-color: #CCC;
  border-radius: 30px;
  display: block;
  justify-content: center;
  translate: 50% 50%;
}

.pagination>span {
  margin-right: 10px;
  border-radius: 20px;
}

.page.current{
  padding: 5px 4px 5px 6px;
  border-radius: 15px;
  background-color: #666;
  color: white;
}

// search_form

.search_name{
  margin-bottom: 10px;
}

.search_form{
  margin: 10px 0
}

.search_label{
  display: none;
}

.search_title{
  width: 160px;
  padding: 9px 14px;
}

#status{
  padding: 9px 14px;
  border: none;
}

// order_form

.order_name{
  margin: 0 0 10px 30px;
}

.order_form{
  margin: 10px 0 10px 25px;
}

.order_label{
  display: none;
}

.submit{
  padding: 7px 14px;
  background-color: #333;
  color: white;
}

#sort_data{
  padding: 9px 14px;
  border: none;
}

// form

.error_message{
  font-size: 15px;
  color: red;
  margin: 10px 0;
}

.task_form{
  width: 727px;
  margin: 30px calc(60vw - 727px / 2);
  padding-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.form_list_title{
  padding: 10px 0 10px 30px;
  background-color: #333;
  border-radius: 5px 5px 0 0;
  color: white;
}

.form_list{
  width: 727px;
  margin: 0 30px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.form_list>input, textarea, select{
  border: solid 1px #DDD;
  border-radius: 5px;
}

.form_list>input:not(.form_title, #task_deadline){
  margin-top: 15px;
  border: none;
  border-radius: 25px;
}

.form_list>label{
  margin: 15px 0 5px 0;
  color: #888;
  font-size: 12px;
}

.field_with_errors>input, textarea, select{
  margin-top: 5px;
  border: solid 1px #DDD;
  border-radius: 5px;
}

.field_with_errors>label{
  color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0 5px 0;
}

.form_title, #task_deadline, #task_status, #task_priority{
  height: 30px;
  width: 400px;
}

.form_content{
  height: 100px;
  width: 400px;
}

.form_submit{
  text-align: left;
  padding: 10px 20px;
  background-color: #333;
  font-size: 12px;
  color: white;
  width: fit-content;
  font-weight: bold;
  &:hover{
    opacity: 0.7;
  }
}
