// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';
.user{
  &-create{
    display: flex;
    flex-direction: row;

    &__icon{
      font-size: 60px !important;
      color: $admin-color;
    }
  }
}

.admin{
  &-index{
    &__title{
      margin-bottom: $space;
      text-align: center;
      font-weight: bold;
      color: $admin-color;
    }

    &__item{
      margin-bottom: $space;
      display: flex;
      flex-direction: row;
    }

    &__admin{
      position: absolute;
      right: $space;
    }

    &__label{
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &--name{
        font-size: 25px;
        font-weight: bold;
      }

      &--admin{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        right:92px;
      }
    }
  }

  &-show{
    &__header{
      display: flex;
      flex-direction: row;
    }

    &__title{
      margin: 0 auto 55px auto;
      font-weight: bold;
      color: $admin-color;
      margin-bottom: $space;
    }

    &__list{
      li{
        margin-bottom: $space;
      }
    }

    &__tasks{
      text-align: center;
      font-weight: bold;
    }
  }

  &-option{
    position: absolute;
    right: 55px;
    display: flex;
    flex-direction: row;

    &__height{
      height: 100px;
    }
  }

  &-back{
    display: flex;
    flex-direction: row;
    color: $admin-color;
    position: absolute;
    &__icon{
      font-size: 65px !important;
      margin-right: 20px;
    }
  }
}
